body {
    margin: 0;
    padding: 0;
    background-color: gray;
}
header {
    background-color: gray;
    color: black;
    padding: 15px 0;
    text-align: center;
}
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

nav {
    background-color: #999;
    overflow: hidden;
    text-align: center; /* nav 안의 텍스트 가운데 정렬 */
}
nav a {
    display: inline-block; /* 링크를 인라인 블록으로 변경하여 가운데 정렬 */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* 기본 밑줄 제거 */
    border-bottom: 2px solid transparent; /* 기본 투명 밑줄 */
    transition: border-bottom-color 0.3s; /* 부드러운 전환 효과 */    
}
nav a:hover {
    background-color: #ddd;
    color: white;
    text-align: center;
}
main {
    padding: 20px;
    text-align: center;
    font-family: "Playwrite GB S", cursive;
    color: #ddd;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}